<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SenpaiCopy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <SenpaiCopy.Properties.Settings>
      <setting name="LastSelectedImagePath" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSelectedFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="PreviousHotkey" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ExecuteHotkey" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NextHotkey" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ClearCheckBoxesHotkey" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EnabledFormats" serializeAs="String">
        <value>.bmp;.gif;.jpg;.jpeg;.png;.tiff;.webm;.wmp</value>
      </setting>
      <setting name="EnableStatisticTracking" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeletedImagesStatistic" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CopiedImagesStatistic" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DeletedImagesSizeStatistic" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CopiedImagesSizeStatistic" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="StartupStatistic" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TotalCopiedImagesStatistic" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SendToRecycleBin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WarnIfOverwrite" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SupportedImageFormats" serializeAs="String">
        <value>.bmp;.gif;.ico;.jpg;.jpeg;.png;.tif;.tiff;.wmp</value>
      </setting>
      <setting name="SupportedVlcFormats" serializeAs="String">
        <value>.avi;.mp4;.webm</value>
      </setting>
      <setting name="EnableLogging" serializeAs="String">
        <value>True</value>
      </setting>
    </SenpaiCopy.Properties.Settings>
  </userSettings>
</configuration>